In [134]:
import pandas as pd 
from prediction import prediction_Class

In [135]:

dataset=pd.read_csv("../data/jobDataset_All.csv")
dataset=dataset[dataset.job_specialty=="Accounting And Auditing"]

In [136]:
dataset

,job_date,job_title,job_location,job_specialty
0,2018,Internal Auditor,Riyadh,Accounting And Auditing
1,2018,Accounting,Khobar,Accounting And Auditing
2,2018,Accountant,Riyadh,Accounting And Auditing
3,2018,Accountant,Makkah,Accounting And Auditing
4,2018,Financial Manager,Jeddah,Accounting And Auditing
5,2018,treasurer,Taif,Accounting And Auditing
6,2018,Cost Accountant,Jeddah,Accounting And Auditing
7,2018,Public Accountant,Riyadh,Accounting And Auditing
8,2018,Accountant,Makkah,Accounting And Auditing
9,2018,Public Accountant,Jeddah,Accounting And Auditing
10,2018,Head of Cost Control,Jeddah,Accounting And Auditing
11,2018,Accountant,Riyadh,Accounting And Auditing
12,2018,treasurer,Jeddah,Accounting And Auditing
13,2018,Accountant,Riyadh,Accounting And Auditing
14,2018,Accountant,Riyadh,Accounting And Auditing
15,2018,Cost Accountant,Jeddah,Accounting And Auditing
16,2018,Financial Manager,Riyadh,Accounting And Auditing
17,2018,Financial Analyst,Jeddah,Accounting And Auditing
18,2018,Accountant,Riyadh,Accounting And Auditing
19,2018,Senior Accountant,Riyadh,Accounting And Auditing
20,2018,Accountant,Khobar,Accounting And Auditing
21,2018,Accountant,Al-Majmaah,Accounting And Auditing
22,2018,Accountant,Jeddah,Accounting And Auditing
23,2018,Cashier Restaurant,Dhahran,Accounting And Auditing
24,2018,Accountant,Al-Khafji,Accounting And Auditing
25,2018,Accountant,Riyadh,Accounting And Auditing
26,2018,chief of accounts,Riyadh,Accounting And Auditing
27,2018,Accountant,Riyadh,Accounting And Auditing
28,2018,Accountant,Dammam,Accounting And Auditing
29,2018,chief of accounts,Riyadh,Accounting And Auditing
...,...,...,...,...
11045,2014,Public Accountant,Jeddah,Accounting And Auditing
11046,2014,Accountant,Riyadh,Accounting And Auditing
11047,2014,Collector,Jeddah,Accounting And Auditing
11048,2014,Accountant,Riyadh,Accounting And Auditing
11049,2014,Accountant,Riyadh,Accounting And Auditing
11050,2014,Collection Officer,Riyadh,Accounting And Auditing
11051,2014,Accountant,Jeddah,Accounting And Auditing
11052,2014,General Accountant and Stock Accountant,Riyadh,Accounting And Auditing
11053,2014,Bookkeeper,Riyadh,Accounting And Auditing
11054,2014,Accountant,Riyadh,Accounting And Auditing
11055,2014,Accountant,Khobar,Accounting And Auditing
11056,2014,Computer Teacher,Jeddah,Accounting And Auditing
11057,2014,Accountant,Jeddah,Accounting And Auditing
11058,2014,Accounting,Jeddah,Accounting And Auditing
11059,2014,Collector (telephone - field),Riyadh,Accounting And Auditing
11060,2014,Accountant,Riyadh,Accounting And Auditing
11061,2014,Financial Proceeds,Makkah,Accounting And Auditing
11062,2014,Accountant,Riyadh,Accounting And Auditing
11063,2014,Accountant,Riyadh,Accounting And Auditing
11064,2014,Accountant,Dammam,Accounting And Auditing
11065,2014,Accountant,Dammam,Accounting And Auditing
11066,2014,Accountant,Jazan,Accounting And Auditing
11067,2014,Assistant Cost Accountant,Riyadh,Accounting And Auditing
11068,2014,Accountant,Jeddah,Accounting And Auditing
11069,2014,Public Accountant,Riyadh,Accounting And Auditing
11070,2014,Account Manager,Makkah,Accounting And Auditing
11071,2014,Accountant,Riyadh,Accounting And Auditing
11072,2014,Officer purchases,Dammam,Accounting And Auditing
11073,2014,Accountant,Jeddah,Accounting And Auditing
11074,2014,Accountant,Dammam,Accounting And Auditing

In [137]:
ma=dict()
for i in range(len(dataset)):
    x=dataset.iloc[i]
    if not x.job_date in ma:
        ma.update({x.job_date:1})
    else:
        ma[x.job_date]+=1

In [138]:
date=list()
count=list()

for key, value in ma.items():
        date.append(key)
        count.append(value)

In [139]:
n_data=pd.DataFrame({"date":date,"count":count})

In [140]:
n_data

    count  date
0     394  2018
1     308  2017
2     282  2016
3     534  2015
4     266  2014
5     128  2013
6      58  2012
7      28  2011
8      24  2010
9      14  2009
10      2  2008

In [141]:
pre_cols=["date"]
target="count"

p =prediction_Class(n_data,predic_columns=pre_cols,targe=target)

In [143]:
x=n_data["count"].dtype

In [144]:
x

dtype('int64')